In [90]:
import pandas as pd

In [91]:
df = pd.read_csv(r'/Users/rajharsora/Documents/Test1.csv')
print(df)

                Putty
0   Trial Number = 1
1    x = 600, y = 483
2                Push
3   Trial Number = 2
4    x = 600, y = 439
5                Push
6   Trial Number = 3
7    x = 600, y = 494
8                Push
9   Trial Number = 4
10   x = 250, y = 434
11               Pull
12  Trial Number = 5
13   x = 600, y = 569
14               Push
15  Trial Number = 6
16   x = 511, y = 525
17             Failed
18  Trial Number = 7
19   x = 601, y = 575
20               Push
21  Trial Number = 8
22   x = 250, y = 376
23               Pull
24   Trial Number = 9

In [92]:
print(df[::3]) , print(df[1::3]), print(df[2::3])

                Putty
0   Trial Number = 1
3   Trial Number = 2
6   Trial Number = 3
9   Trial Number = 4
12  Trial Number = 5
15  Trial Number = 6
18  Trial Number = 7
21  Trial Number = 8
24   Trial Number = 9
               Putty
1   x = 600, y = 483
4   x = 600, y = 439
7   x = 600, y = 494
10  x = 250, y = 434
13  x = 600, y = 569
16  x = 511, y = 525
19  x = 601, y = 575
22  x = 250, y = 376
     Putty
2     Push
5     Push
8     Push
11    Pull
14    Push
17  Failed
20    Push
23    Pull

(None, None, None)

In [95]:
df1 = (df[::3])
df2 = (df[1::3])
df3 = (df[2::3])

In [96]:
df1.index.name = 'trial_number'

In [97]:
df2.index.name = 'coordinates'

In [102]:
df1.index.name = 'position'

In [105]:
df1 = df1.reset_index(drop = True)
df1

               Putty
0  Trial Number = 1
1  Trial Number = 2
2  Trial Number = 3
3  Trial Number = 4
4  Trial Number = 5
5  Trial Number = 6
6  Trial Number = 7
7  Trial Number = 8
8   Trial Number = 9

In [108]:
df2 = df2.reset_index(drop = True)
df2

              Putty
0  x = 600, y = 483
1  x = 600, y = 439
2  x = 600, y = 494
3  x = 250, y = 434
4  x = 600, y = 569
5  x = 511, y = 525
6  x = 601, y = 575
7  x = 250, y = 376

In [109]:
df3 = df3.reset_index(drop = True)

In [113]:
df4 = pd.concat([df1, df2, df3], axis=1)
df4

               Putty             Putty   Putty
0  Trial Number = 1   x = 600, y = 483    Push
1  Trial Number = 2   x = 600, y = 439    Push
2  Trial Number = 3   x = 600, y = 494    Push
3  Trial Number = 4   x = 250, y = 434    Pull
4  Trial Number = 5   x = 600, y = 569    Push
5  Trial Number = 6   x = 511, y = 525  Failed
6  Trial Number = 7   x = 601, y = 575    Push
7  Trial Number = 8   x = 250, y = 376    Pull
8   Trial Number = 9               NaN     NaN

In [119]:
df4.columns = ['trial_number', 'coordinates', 'position']

In [120]:
df4

        trial_number       coordinates position
0  Trial Number = 1   x = 600, y = 483     Push
1  Trial Number = 2   x = 600, y = 439     Push
2  Trial Number = 3   x = 600, y = 494     Push
3  Trial Number = 4   x = 250, y = 434     Pull
4  Trial Number = 5   x = 600, y = 569     Push
5  Trial Number = 6   x = 511, y = 525   Failed
6  Trial Number = 7   x = 601, y = 575     Push
7  Trial Number = 8   x = 250, y = 376     Pull
8   Trial Number = 9               NaN      NaN