In [1]:
import pandas as pd

# Path for Windows
# path = r'\Users\rdh92\Box\Oldenburg-Shared\Raj\Behavioral Box Testing\H1.1\4.20.2023\4.20.23_H1.1_Trial.Record.1.txt'
#Path for Mac
path = r'/Users/rajharsora/Library/CloudStorage/Box-Box/Oldenburg-Shared/Raj/Behavioral Box Testing/H1.1/4.20.2023/4.20.23_H1.1_Trial.Record.1.txt'

df_TrialLog1 = pd.read_csv(path, delimiter='\t', header = None)
df_TrialLog1

                      0    1
0          10:23:58.124  NaN
1     Trial Number = 1   NaN
2          10:24:04.265  NaN
3               5893 ms  NaN
4          10:24:04.265
..                  ...  ...
188        10:28:45.794  NaN
189               Pull   NaN
190        10:28:45.794  NaN
191  Trial Number = 20   NaN
192        10:29:06.045  NaN

[193 rows x 2 columns]

In [2]:
df_TrialLog1.drop(1, axis=1, inplace=True)
df_TrialLog1

                      0
0          10:23:58.124
1     Trial Number = 1
2          10:24:04.265
3               5893 ms
4          10:24:04.265
..                  ...
188        10:28:45.794
189               Pull
190        10:28:45.794
191  Trial Number = 20
192        10:29:06.045

[193 rows x 1 columns]

In [3]:
Timestamps_df = df_TrialLog1[::2]
No_Timestamps_df = df_TrialLog1.iloc[1::2]

In [4]:
Timestamps_df = Timestamps_df.reset_index(drop=True)
No_Timestamps_df =  No_Timestamps_df.reset_index(drop=True)

In [5]:
Timestamps_df.columns = ['Timestamps']
No_Timestamps_df.columns = ['Trials']

In [6]:
df_merged = pd.concat([Timestamps_df['Timestamps'], No_Timestamps_df['Trials']], axis=1)
df_merged

      Timestamps                    Trials
0   10:23:58.124         Trial Number = 1
1   10:24:04.265                   5893 ms
2   10:24:04.265           x = 136 y = 136
3   10:24:04.309   Total F/R Ratio = 1 / 0
4   10:24:04.309                     Push
..           ...                       ...
92  10:28:45.732           x = 120 y = 133
93  10:28:45.794  Total F/R Ratio = 15 / 4
94  10:28:45.794                     Pull
95  10:28:45.794        Trial Number = 20
96  10:29:06.045                       NaN

[97 rows x 2 columns]

In [7]:
df_merged['Trial_Number'] = df_merged['Trials'].iloc[::5]

In [8]:
df_merged['Reaction_Time'] = df_merged['Trials'].iloc[1::5]

In [9]:
df_merged['Trials'].iloc[2::5]

2     x = 136 y = 136
7     x = 136 y = 138
12    x = 135 y = 140
17    x = 135 y = 139
22    x = 135 y = 138
27    x = 135 y = 138
32    x = 109 y = 138
37    x = 176 y = 137
42    x = 167 y = 132
47    x = 135 y = 134
52    x = 135 y = 137
57    x = 136 y = 138
62    x = 135 y = 138
67    x = 120 y = 128
72    x = 120 y = 138
77    x = 136 y = 137
82    x = 135 y = 135
87    x = 136 y = 136
92    x = 120 y = 133
Name: Trials, dtype: object